<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_buinding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{131,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,88}}</string>
                <key>sourceSize</key>
                <string>{131,88}</string>
            </dict>
            <key>build_buinding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,97}}</string>
                <key>sourceSize</key>
                <string>{185,97}</string>
            </dict>
            <key>build_buinding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,101},{130,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>build_buinding_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{73,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{73,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build_build_up.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d326e60922668262c3473bf581e8ea57$</string>
            <key>textureFileName</key>
            <string>build_build_up.png</string>
        </dict>
    </dict>
</plist>
