<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_rubbish_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{123,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,102}}</string>
                <key>sourceSize</key>
                <string>{123,102}</string>
            </dict>
            <key>building_rubbish_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{121,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,92}}</string>
                <key>sourceSize</key>
                <string>{121,92}</string>
            </dict>
            <key>building_rubbish_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,98}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>building_rubbish_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,102},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build_rubbish.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26fd65696ed1ebef32fe42ea46f3b172$</string>
            <key>textureFileName</key>
            <string>build_rubbish.png</string>
        </dict>
    </dict>
</plist>
